img{
    width: 300px;
}
.Finger{
    text-align: center;
    color: blueviolet;
    font-family: impact,sans-serif;
}
body{
    font-family: Arial, Helvetica;
    background-color: white;
}
.menu{
    list-style: none;
    padding: 0%;
    background-color: red;
    width: 90%;
    margin: auto;
    max-width: 1000px;
}
.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}
.menu li{ 
    display: inline-block;
    text-align: center;
}
.Inicio{
    text-align: center

}
.Que{
    font-family: impact,sans-serif;
}
.Destacados
{
    text-align: center;
}
.divuno{
    display: flex
}
.Producto{
    text-align: center;
}
.Contacto{
    text-align: center;
}
.divdos{
    display: block
}
.Videos{


    text-align: center;}
    .Finger{
        text-align: center;
        color: red;
        font-family: impact,sans-serif;
    }
    
    .inicio{
    text-align: center;
    margin: 30px;
    }
    .card{
        display: inline-block 
       
    }
    .card{
        margin: 10px;
        
    }
    .Redes{
        display: inline;
    }
    .Redes1{
        display: inline-block;
    }
    .Redes1{
        margin: 30px;
    }
    .ProductosDestacados{
        text-align: center;
        margin: 30px;
    }
    .contacto{
        text-align: center;
        margin: 30px;
    }
    .formulario{
        width: 500px;
    margin: 20px auto;
    }
    .colorpropio{
        background-color: red;
    }
    .compra{
        color: red;
    }.Productos{
        text-align: center;
        margin: 30px;
        
    }